
// Fonts
@import url("https://fonts.googleapis.com/css?family=Material+Icons");

// Variables
@import "node_modules/materialize-css/sass/materialize";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#main-nav {
    a:hover, a:focus, a:active {
        color: #fff;
        text-decoration: none;
    }

    i {
        cursor: pointer;
    }
}